<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            All Right Reserved. © 2019 Copyright Jeazy Baby
        </div>
    </div>
</footer>
</body>

</html>