<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My Little Pony Directory App</title>
<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">My Little Pony Directory</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/ponies/new"><i class="material-icons left">add</i> Add Pony</a></li>
        </ul>
    </div>
</nav>