<% include partials/header %>

<h1>Add New Pony</h1>

<form method="POST" action="/ponies">
    <input type="text" name="ponies[name]" placeholder="Name of pony">
    <input type="text" name="ponies[color]" placeholder="Color of pony">
    <input type="text" name="ponies[image]" placeholder="Link to Image of pony">
    <textarea name="ponies[description]"></textarea>
    <button>Submit</button>
</form>

<% include partials/footer %>